html, body {
    width: 100%;
    height: 100%;}


  .baslik{
    text-align: center;
    color: antiquewhite;
    
  }
  .yazi{
    color: antiquewhite;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
  }
  .container {
    width: 100%;
    height: 90%;
    position: relative;
    background-image: url("Ray_Flying_Legends_2005-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  
  
  .hot-spot {
    width: 40px;
    height: 40px;
    background-color: #002cf1;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0.6;
    z-index: 1; }
    .hot-spot:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 2px solid #0a5ef8;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      opacity: 0;
      transition: 0.2s all; }
    .hot-spot:hover {
      cursor: pointer;
      opacity: 1; }
      .hot-spot:hover:after {
        width: 25px;
        height: 25px;
        opacity: 1; }
  
  .speech-bubble {
    position: absolute;
    width: 150px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    display: none;
    z-index: 2; }
    .speech-bubble h1 {
      font-size: 20px;
      margin-top: 12px;
      color: #333333; }
    .speech-bubble p {
      margin-top: 4px;
      margin-bottom: 12px;
      font-style: italic;
      color: #888888; }
    .speech-bubble:after {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #ffffff;
      border-width: 10px;
      margin-left: -10px; }
  

      * {
        box-sizing: border-box; }
      
      body {
        background: #1A1E23;
        font-family: 'Lato', sans-serif;
        -webkit-font-smoothing: antialiased; }
      
      nav {
        position: relative;
        padding-bottom: 12px; }
        nav .line {
          height: 2px;
          position: absolute;
          bottom: 0;
          margin: 10px 0 0 0;
          background: #FF1847; }
        nav ul {
          justify-content: center;
          align-items: center;
          padding: 0;
          list-style: none;
          display: flex; }
          nav ul li {
            margin: 0 40px 0 0;
            opacity: .4;
            transition: all 0.4s ease; }
            nav ul li:hover {
              opacity: .7; }
            nav ul li.active {
              opacity: 1; }
            nav ul li:last-child {
              margin-right: 0; }
            nav ul li a {
              text-decoration: none;
              color: #fff;
              text-transform: uppercase;
              display: block;
              font-weight: 600;
              letter-spacing: .2em;
              font-size: 14px; }
      
      body {
        display:inline;

       }

       .icerik {
        display: none;
      }
      
      .icerik.visible {
        display: block;
      }
      